.header__lang-link {
  max-width: 22px;
  margin: 10px 0 0 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.header__lang-link:nth-of-type(1) {
  text-decoration: underline;
}
