.header__lang-link {
  margin: 10px 0 0 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.header__lang-link:nth-of-type(1) {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {

  .header__lang-link {
    margin: 12px 0 0 18px;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}
