@import url("./__item/photo-grid__item.css");

.photo-grid {
  width: 288px;
  height: 2724px;
  margin: 64px 16px 0 16px;
  display: grid;
  grid-row-gap: 12px;
  grid-template-rows: repeat(12, 1fr);
}
