.cover__subtitle {
  width: 100%;
  max-width: 288px;
  margin: 16px auto 50px auto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {

  .cover__subtitle {
    margin: 16px auto 153px auto;
    max-width: 320px;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

@media screen and (min-width: 1024px) {

  .cover__subtitle {
    margin: 16px auto 233px auto;
  }
}

@media screen and (min-width: 1280px) {

  .cover__subtitle {
    margin: 16px auto 283px auto;
  }
}
