.footer__link {
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
}

.footer__link:nth-of-type(1) {
  margin-top: 0;
}

.footer__link:hover {
  opacity: 0.8;;
}

@media screen and (min-width: 768px) {

  .footer__link {
    margin: 0 18px 0 0;
    font-size: 1rem;
    line-height: 1.125rem;
  }
}
