.place__paragraph {
  width: calc(100% - 32px);
  margin: 24px auto 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
}

.place__paragraph:nth-of-type(1) {
  margin: 32px auto 0 auto;
}
