.intro__text {
  margin: 32px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
}


@media screen and (min-width: 1024px) {

  .intro__text {
    max-width: 690px;
  }
