@import url("./__link/cover__link.css");

@import url("./__title/cover__title.css");

@import url("./__subtitle/cover__subtitle.css");

@import url("./__overlay/cover__overlay.css");

.cover {
  margin: 0;
  background-image: url("../../images/__background.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 768px) {

  .cover {
    margin: 88px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {

  .cover {
    margin: 92px 0 0 0;
  }
}

@media screen and (min-width: 1280px) {

  .cover {
    margin: 92px 48px 0 48px;
  }
}
