@import url("../vendor/normalize.css");

@import url("../vendor/fonts/inter/inter.css");

@import url("../blocks/page/page.css");

@import url("../blocks/header/header.css");

@import url("../blocks/logo/logo.css");

@import url("../blocks/link/link.css");

@import url("../blocks/lead/lead.css");

@import url("../blocks/intro/intro.css");

@import url("../blocks/photo-grid/photo-grid.css");

@import url("../blocks/places/places.css");

@import url("../blocks/place/place.css");

@import url("../blocks/cover/cover.css");

@import url("../blocks/footer/footer.css");

@media screen and (min-width: 768px) {
  .page {
    padding: 0 24px 0 24px;
  }

  .header {
    width: 100%;
    margin: 34px auto 0 auto;
  }

  .header__lang-link {
    margin: 12px 0 0 18px;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .logo {
    max-width: 190px;
  }

  .lead {
    width: calc(100% + 24px);
  }

  .lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-size: 6rem;
    line-height: 6.25rem;
  }

  .lead__subtitle {
    max-width: 620px;
    margin: 32px auto 0 auto;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lead__image {
    margin: 56px 0 0 0;
  }

  .lead__caption {
    margin: 8px auto 0px 24px;
  }

  .intro {
    width: 100%;
    margin: 88px auto 0 auto;
  }

  .intro__title {
    font-size: 3.375rem;
    line-height: 3.625rem;
  }

  .intro__subtitle {
    line-height: 2.125rem;
  }

  .photo-grid {
    width: 100%;
    margin: 88px auto 0 auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .places {
    margin: 88px auto 0 auto;
  }

  .place {
    margin: 72px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .place__main {
    width: calc(50% - 20px);
  }

  .place__title {
    margin: 0;
    font-size: 2.625rem;
    line-height: 2.875rem;
  }

  .place__image {
    margin-top: 48px;
  }

  .place__text {
    width: calc(50% - 8px);
  }

  .place__website {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .place__url-heading {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.2em;
    color: #aaaaaa;
  }

  .place__link {
    display: block;
    margin: 12px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-decoration: underline;
  }

  .place__link:hover {
    opacity: 0.8;
  }

  .place__paragraph {
    width: 100%;
    margin: 24px auto 0 auto;
  }

  .place__paragraph:nth-of-type(1) {
    margin: 48px auto 0 auto;
  }

  .cover {
    margin: 88px auto 0 auto;
  }

  .cover__title {
    min-width: 656px;
    margin: 153px auto 0 auto;
    font-size: 4.5rem;
    line-height: 4.75rem;
  }

  .cover__subtitle {
    min-width: 320px;
    margin: 32px auto 0 auto;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  .footer {
    margin: 88px auto 24px auto;
    flex-direction: row;
  }

  .footer__link {
    margin: 0 18px 0 0;
    font-size: 1rem;
    line-height: 1.125rem;
  }

  .footer__copyright {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    padding: 0 48px 0 48px;
  }

  .header {
    margin: 34px auto 0 auto;
  }

  .lead {
    width: 100%;
    margin: 50px 0 0 0;
  }

  .lead__image {
    margin: 56px auto 0 auto;
  }

  .lead__caption {
    margin: 8px auto 0px 48px;
  }

  .intro {
    margin: 92px auto 0 auto;
  }

  .intro__title {
    max-width: 690px;
  }

  .intro__subtitle {
    max-width: 690px;
  }

  .intro__text {
    max-width: 690px;
  }

  .intro__list {
    max-width: 690px;
  }

  .photo-grid {
    margin: 92px auto 0 auto;
    grid-row-gap: 14px;
    grid-column-gap: 14px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .places {
    margin: 92px auto 0 auto;
  }

  .place {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: row;
  }

  .place__main {
    width: calc(50% - 24px);
  }

  .place__title {
    margin: 0 32px 0 0;
    font-size: 4.5rem;
    line-height: 4.75rem;
  }

  .place__image {
    margin: 48px 32px 0 0;
  }

  .cover {
    min-width: 1023px;
    min-height: 640px;
    margin: 92px 0 0 0;
  }

  .cover__title {
    margin: 233px auto 0 auto;
  }

  .cover__subtitle {
    margin: 32px auto 0 auto;
  }

  .footer {
    min-width: 928px;
    margin: 92px auto 24px auto;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    padding: 0 148px 0 148px;
  }

  .header {
    margin: 34px auto 0 auto;
  }

  .lead__image {
    margin: 64px auto 0 auto;
  }

  .lead__caption {
    margin: 8px auto 0 0;
  }

  .intro {
    margin: 92px auto 0 auto;
  }

  .photo-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  .place__main {
    width: calc(50% - 34px);
  }

  .place__title {
    margin: 0 40px 0 0;
  }

  .place__image {
    margin: 48px 40px 0 0;
  }

  .place__text {
    width: calc(50% - 10px);
  }

  .cover {
    min-width: 1184px;
    min-height: 740px;
    margin: 92px auto 0 auto;
  }

  .cover__title {
    margin: 283px auto 0 auto;
  }

  .cover__subtitle {
    margin: 32px auto 283px auto;
  }

  .cover__overlay {
    min-width: 1184px;
    min-height: 740px;
  }

  .footer {
    min-width: 1184px;
  }
}
