.lead__caption {
  min-width: 183px;
  margin: 8px auto 0px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.875rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {

  .lead__caption {
    margin: 8px auto 0 24px;
  }

@media screen and (min-width: 1024px) {

  .lead__caption {
    margin: 8px auto 0 0;
  }
}
