@import url("./__title/place__title.css");

@import url("./__image/place__image.css");

@import url("./__paragraph/place__paragraph.css");

.place {
  width: 100%;
  margin: 48px 0 0 0;
  display: flex;
  flex-direction: column;
}

.place:nth-of-type(1) {
  margin: 0;
}
