@import url("./__link/footer__link.css");

@import url("./__copyright/footer__copyright.css");

.footer {
  width: 100%;
  margin: 64px 136px 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
