@import url("./__link/footer__link.css");

@import url("./__copyright/footer__copyright.css");

.footer {
  min-width: 168px;
  margin: 64px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
